fastapi==0.100.1
uvicorn[standard]==0.23.2
boltons
brotlipy
certifi
cffi
charset-normalizer
colorama
cryptography
idna
jsonpatch
jsonpointer
packaging
pluggy
pycosat
pycparser
pyOpenSSL
PySocks
requests
ruamel.yaml
tqdm
urllib3
win-inet-pton
zstandard